<h1 class="todo_list_title">New Todo List</h1>

<div class="forms">
	<%= render 'form' %>
</div>

<div class="links">
	<%= link_to '<i class= "fa fa-undo fa-lg" data-toggle="tooltip" data-placement="top" title="Back"></i>'.html_safe, todo_lists_path %>
</div>
